$founder_fond: 'Hind', sans-serif;
$founder_img: url(../img/m-h-day.jpg);
$colors: (
    founder_box: #ffffff,
    marker: #14a0c7,
    btn: #699900,
    text_box: #cccccc,
    boxes: #21232e,
    text: #21232e,
    gradient_from: #619119,
    gradient_to: #2d5bd9,
);