/* START: Task 1 Styles */
.table td {
    border: 1px solid black;
    width: 140px;
    height: 140px;
}

.table {
    background-color: green;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
#task2 {
    margin: 20px auto;
    width: 450px;
}

.phone-number {
    width: 340px;
    padding: 10px;
}

.phone-number:invalid {
    border-color: crimson;
}

.phone-number:valid {
    border-color: black;
}

.hidden {
    display: none;
    padding: 15px;
    color: white;
    border: 1px solid black;
}

.message-error {
    background-color: crimson;
    color: white;
    border: 1px solid black;
    padding: 30px 15px;
    margin-bottom: 10px;
    font-size: 18px;
}

.message-success {
    background-color: green;
    color: white;
    border: 1px solid black;
    padding: 30px 15px;
    margin-bottom: 10px;
    font-size: 18px;
}

.button {
    padding: 10px;
    margin-left: 20px;
}

/* END: Task 2 Styles */

/* START: Task 3 Styles */
#court {
    position: relative;
    width: 600px;
    height: 330px;
    background: url('./assets/court.png') no-repeat;
    background-size: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
  }

#ball {
    position: absolute;
    left: 280px;
    top: 145px;
    width: 40px;
    height: 40px;
    transition: all 1s;
    background: url('./assets/ball.png') no-repeat; 
    background-size: 100%;
}
/* END: Task 3 Styles */
