.table {
    width: 100%;
    padding: 2% 10% 0 10%;
    border-spacing: inherit;
}

.th-head {
    background-color: #298431;
    height: 40px;
    color: #ffffff;
    border: 1px solid #CECECE;
}

.tr-body:nth-child(odd) {
    background-color: #EFEFEF;
}

.tbody td {
    text-align: center;
    border: 1px solid #CECECE;
}

.search-type {
    display: flex;
    justify-content: center;
}

.header,
.form {
    text-align: center;
}

.tr-body:hover {
    background-color: #CECECE;
}

.search-select {
    width: 160px;
}

.search-by-language-div {
    padding-left: 16px;
}

.hidden {
    display: none;
}

.no-items-message {
    text-align: center;
}
