body {
    font-family: 'Roboto';
}

.btn-info, .btn-primary {
    background-color: coral;
    border: 2px solid lightcoral;
}

.text-muted {
    font-size: 23px;
}

.align-self-center h1 {
    font-size: 50px;
}

.navbar-brand {
    font-size: 40px;
}