.hidden {
    display: none;
}

button {
    border-radius: 5px;
    padding: 4px;
    margin-right: 10px;
}

#root {
    text-align: center;
}

#modifyItemInput {
    height: 70px;
}

#modifyItemInput:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}