body {
    margin: 0;
    padding: 0;
   font-family: 'Open Sans', sans-serif;
}
    
header {
    background-image: url(../img/apples.jpg);
    background-size: cover;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1% 0%;
}

.menu_link {
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    color: #ffffff;
}

.header_container {
    padding: 0 2%;
}
.logo_text {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: lighter;
    letter-spacing: 5px;
}

.hello_heading span {
    font-size: 120px;
}

.hello {
    text-align: center;
    margin-left: 9%;
}

.hello_heading {
    color: #FFFFFF;
    font-size: 35px;
    padding-top: 10%;
    margin: 0;
    text-transform: uppercase;

}
.hello_heading h1 {
    letter-spacing: 10px;
    margin-bottom: 0;
    font-weight: lighter;
}

.hello_text {
    color: #ffffff;
    font-size: 20px;
    word-spacing: 2px;
}

.hello_button {
    background-color: #343638;
    opacity: 0.7;
    filter: alpha(Opacity=70); 
    cursor: pointer;
    color: #ffffff;
    width: 300px;
    height: 65px;
    border: 2px solid #ffffff;
    margin-top: 10%;
    font-size: 20px;
    
}

.main_white_container {
    padding: 3% 2%;
    display: flex;
    color: #343638;

}

.main_white_heading {
    width: 50%;
    padding: 5%;
    font-size: 26px;
}

.main_white_text {
    width: 50%;
    padding: 5%;
    font-size: 18px;
    font-weight: bolder;
}

.main_white_text span {
    color: #000000;
    font-weight: bolder;
}


.main_grey_container {
    background-color: #F3F3F3;
    padding: 3% 2%;
}

.main_heading {
    text-align: center;
    color: #343638;
    font-size: 20px;
    padding: 3% 0 2% 0;
}

.main_heading span {
    color: #000000;
}

.blogers_photo1 {
    background-image: url(../img/sample.jpg);
}

.blogers_photo2 {
    background-image: url(../img/sample1.jpg);
}

.blogers_feed_photo {
    width: 100%;
    height: 450px;
    background-size: cover;
    position: relative;
}

.blogers_feed_likes {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #343638;
    opacity: 0.6;
    filter: alpha(Opacity=60);
    color: #ffffff;
    width: 65px;
    height: 35px;
    border: 2px solid #ffffff;
}

.blogers_feed_text {
    position: absolute;
    left: 20px;
    bottom: 30px;
    font-size: 23px;
    color: #ffffff;
}

.location {
    font-weight: bolder;
}

.blogers_feed {
    display: flex;
    margin: 1% 0;
}

.blogers_feed:nth-child(odd) {
    flex-direction: row-reverse;
}

.blogers_feed_info {
    width: 58%;
}

.blogers_feed_history {
    text-align: center;
    color: #343638;
    font-size: 20px;
    width: 88%;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
    font-weight: lighter; 
}

.section_banner {
    text-align: center;
    color: #343638;
    font-size: 45px;
    padding: 2% 0 2% 0;
    background-color: #ffffff;
}

.section_banner_form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_banner_text span {
    color: #000000;
    font-weight: bold;
    margin-right: 25px;
}

.section_banner_input {
    width: 55%;
    padding: 20px;
    background-color: #F3F3F3;
}

.section_banner_button {
    padding: 20px;
    margin-left: -10px;
    color: #ffffff;
    background-color: #343638;
    border: 2px solid #343638;
}

.footer_container {
    padding: 4% 2%;
    display: grid;
    background-color: #ffffff;
    grid-template-columns: 8fr 8fr 8fr 9fr;
}

.footer_email {
    width: 11vw;
    padding: 11px;
    color: #000000;
    background-color: #F3F3F3;
}

.footer_button {
    padding: 11px;
    margin-left: -10px;
    color: #ffffff;
    background-color: #343638;
    border: 2px solid #343638;
}

.footer_end {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer_end p {
    color: #9E9E9E;
    margin: 0;
}

.footer_link a {
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    color: #343638;
}

.footer_content h3 {
    font-size: 30px;
    font-weight: bold;
}

.footer_text {
    color: #9E9E9E; 
    font-size: 22px;
    padding-right: 5px;
    word-spacing: 2px;
    line-height: 1.5;
}

.footer_lastvisit {
    color: #E8E8E8;
}





