@media screen {
    .tm-nav-item:hover {
        background-color: grey;
    }

    .tm-banner {
        background-color: grey;
    }

    .tm-banner-inner {
        background-color: #ffffff;
    }

    .tm-main-nav {
        box-shadow: 0 0 10px grey;
    }

    .tm-content-box {
        box-shadow: 0 0 10px grey;
    }

    .flex-2-col {
        display: flex;
        flex-direction: row;
    }
    
    .tm-team-description-container {
        margin-top: 13%;
    }

    .tm-team-description-container h2 + p {
        color: #acabae;
        font-style: italic;
    }

    .tm-section-description::first-letter, 
    .text-xs-center::first-letter, 
    .tm-banner-text::first-letter {
        color: #87CEFA;
        font-size: 30px;
    }

    .tm-section-description {
        line-height: 2em;
        text-indent: 2em; 
    }

    .box-bg:hover h2 {
        color: #ffffff;
        background-color: #87cefa;
        font-weight: bold;
    }
    .box-work {
        padding: 10px;
    }

    .box-work:nth-child(even) {
        background-color: #F2F2F2;
    }

    .box-work p {
        font-style: italic;
        border: 5px;
    }

    .box-work p::first-letter {
        font-size: 30px;
    }

    .carousel-item h2 {
        color: gainsboro;
        letter-spacing: 5px;
    }

    .text::after {
        content: 'New';
        color: #ff0000;
        vertical-align: super;
        font-size: 12px;
        font-weight: bold;
        font-variant: small-caps;
    }

    .padding-medium:hover {
        text-decoration: none;
    }

    .tm-content-box a {
        color: #000000;
    }

    .tm-content-box a:visited {
        color: #000000;
        text-decoration: underline;
    }

    .tm-content-box a:hover {
        color: #87cefa;
        text-decoration: underline double;
    }

    section {
        position: relative;
    }

    section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-top: 40px solid #87cefa;
        border-right: 280px solid transparent;
        z-index: 1;
    }

    .mandatory-field::after {
        content: '*';
        color: #ff0000;
        font-weight: bold;
    }

    .submit-btn {
        border: 2px solid #87cefa;
        background-color: #ffffff;
        color: #9fd8fb;
        border-radius: 0;
        width: 180px;
        height: 60px;
        font-size: 20px;
        margin-left: auto;
        float: right;

    }

    .submit-btn:hover {
        border: 1px solid #87cefa;
        color: #ffffff;
        background-color: #9fd8fb;
    }
}

@media print {
    .gallery-container,
    .heading,
    .blocks,
    .slide,
    .img-fluid,
    #contact,
    .tm-sidebar {
      display: none;  
    }

    .flex-2-col {
        display: flex;
        flex-direction: row;
    }

    .flex-item img {
        float: right;
        padding: 60% 0 0 0;
        width: 90%;
    }

    .tm-section-description::first-letter, 
    .text-xs-center::first-letter,
    .tm-banner-text::first-letter {
        color: #87cefa;
        font-size: 160%;
    }

    .tm-section-description {
        line-height: 2em;
        text-indent: 2em; 
    }

    .tm-team-description-container {
        font-size: 15px;
        max-width: max-content;
    }

    .tm-team-description-container h2 + p {
        font-style: italic;
    }

    .tm-team-description-container h2 {
        font-size: 30px;
        color: #4f17ff;
    }

    .tm-content-box {
        margin-bottom: 0;
    }
}    


