
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 2%;
}

section {
  margin-top: 5%;
}

.navbar {
  align-items: center;
  width: 100%;
  margin-top: 1%;
  padding-bottom: 1%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
}

.menu {
  margin-right: 20%;
}

.menu_link {
  text-decoration: none;
  color: #363636;;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.menu_link:hover {
  color: #47C9E5;
}

.hello {
  background-size: cover;
  background-image: url(../img/lady.jpg);
}

.hello_headings {
  padding-top: 7%;
}

.hello_description {
  color: #BAB4B4;
}

.btn {
  background-color: #0078aa;
  border: 1px solid #0078aa;
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
}
  
.btn:hover {
  color: #0078aa;
  background-color: #ffffff;
}

.button_home {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

h2 {
  margin: 0;
}

.about_clinic {
  padding: 7% 0;
}

.opportunities {
  margin: 0;
  text-transform: uppercase;
  color: #0078aa;
}

.medical_opportunities_name {
  margin-bottom: 0;
}

.medical_opportunities_name::before {
  content: '\27AA';
  color: #47C9E5;
  font-weight: bold;
}

.help_you {
  text-align: center;
  background-image: url(../img/services_bg.jpg);
}

.text_about_helping  h2 {
  padding-top: 3%;
}

.text_about_helping  p {
  text-transform: uppercase;
  margin: 0;
}

.services {
  display: grid;
  grid-gap: 20px;
}

.clinic_services {
  background-color: #ffffff;
  text-align: left;
}

.clinic_services_name {
  font-size: 14px;
  margin-bottom: 0;
}

.clinic_services_description {
  font-size: 11px;
}

.special_offers {
  text-align: center;
}

.text_about_offers p {
  text-transform: uppercase;
  margin-bottom: 8%;
  margin-top: 10px;
}

.price_offers {
  color: #ffffff;
  font-weight: 500;
}

.pricing_table {
  border: 1px solid #47C9E5;
  background-color: #47C9E5;
}

.pricing_table li {
  list-style-type: none;
  text-align: center;
}

.pricing_table:nth-child(2) {
  color: #0078aa;
  border: 1px solid #47C9E5;
  background-color: #ffffff;
}

.offers { 
  font-size: 30px;
  margin-bottom: 0;
}

.price { 
  font-size: 50px;
  margin: 0;
}

.treatments {
  font-size: 16px;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 8%;
}

.feature_list {
  line-height: 1.5;
}

.get_now {
  background-color: #ffffff;
  border: 1px solid #0078aa;
  color: #0078aa;
  width: 110px;
  height: 40px;
  border-radius: 12px; 
}

.get_now:hover {
  color: #ffffff;
  background-color: #0078aa;
}

.contact {
  margin-top: 6%;
}

.contact_form {
  padding-bottom: 3%;
}

.forms_heading p {
  margin: 0;
  text-transform: uppercase;
}

.form_body input {
  font-size: 20px;
  font-style: italic;
  border: none;
  color: #000000;
  border-bottom: 1px solid #BAB4B4;
  width: 100%;
  height: 60px;
}

.form_body:nth-child(2) {
  border: none;
}

.form_button {
  background-color: #0078aa;
  border: 1px solid #0078aa;
  color: #ffffff;
  width: 110px;
  height: 40px;
  border-radius: 12px; 
}

.form_button:hover {
  color: #0078aa;
  background-color: #ffffff;
}

footer {
  height: 10vh;
  background-color: #363636;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
}

footer p {
  display: inline-block;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .menu_link {
    font-size: 16px;
  }

  .hello {
    height: 60vh;
  }
  
  .hello_headings {
    font-size: 55px;
    width: 60%;
  }
  
  .hello_description {
    font-size: 28px;
    width: 65%;
  }

  .btn_hello {
    margin: 0 1%;
  }

  h2 {
    font-size: 50px;
  }

  .about_clinic {
    display: flex;
  }

  .img_about_clinic {
    width: 50%;
    height: 50%;
  } 
  
  .opportunities {
    font-size: 22px;
  }

  .medical_opportunities_name {
    font-size: 18px;
  }
  
  .medical_opportunities_name::before {
    font-size: 20px;
    padding-right: 15px;
  }
  
  .medical_opportunities_description {
    width: 75%;
    font-size: 16px;
  } 

  .help_you {
    text-align: center;
    background-size: cover;
  }

  .text_about_helping  p {
    font-size: 22px;
  }

  .services {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    padding:3% 2%;
  }

  .clinic_services {
    padding: 1.5em;
  }

  .clinic_services_description {
    font-size: 13px;
  }

  .special_offers {
    background-image: url(../img/pricing_bg.jpg);
    background-size: cover;
  }

  .text_about_offers {
    margin-top: 5%;
  }

  .text_about_offers p {
    font-size: 22px;
  }

  .price_offers {
    display: flex;
    justify-content: center;
  }

  .pricing_table {
    width: 320px;
    height: 480px;
  }

  .pricing_table:nth-child(2) {
    width: 360px;
    height: 520px;
    margin-top: -20px;
  }

  .contact {
    display: flex;
    flex-direction: row;
  }

  .contact_image {
    max-width: 50%;
    overflow: hidden;
    object-fit: cover;
  }

  .contact_form {
    margin-left: 5%;
  }

  .forms_heading p {
    font-size: 22px;
  }
}


@media screen and (min-width: 768px)  and (max-width: 1279px){
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .menu_link {
    font-size: 16px;
  }

  .hello {
    height: 45vh;
  }
  
  .hello_headings {
    font-size: 40px;
    width: 75%;
  }
  
  .hello_description {
    font-size: 16px;
    width: 65%;
  }

  .btn_hello {
    margin: 0 2%;
  }

  h2 {
    font-size: 50px;
  }
  
  .about_clinic {
    display: flex;
  }

  .img_about_clinic {
    height: fit-content;
    width: 50%;
    margin-top: 20%;
  }

  .opportunities {
    font-size: 22px;
  }
  
  .medical_opportunities_name::before {
    font-size: 20px;
    padding-right: 15px;
  }

  .medical_opportunities_name {
    font-size: 22px;
  }
  
  .help_you {
    text-align: center;
    background-size: cover;
    height: 90vh;
  }

  .text_about_helping  p {
    font-size: 22px;
  }

  .services {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding:3% 2%;
  }
  
  .clinic_services {
    padding: 1.5em;
  }

  .clinic_services_description {
    font-size: 11px;
  }

  .special_offers {
    background-image: url(../img/pricing_bg.jpg);
    background-size: cover;
  }

  .text_about_offers {
    margin-top: 5%;
  }

  .text_about_offers p {
    font-size: 22px;
  }

  .price_offers {
    display: flex;
    justify-content: center;
  }

  .pricing_table {
    width: 320px;
    height: 480px;
  }

  .pricing_table:nth-child(2) {
    width: 360px;
    height: 520px;
    margin-top: -20px;
  }

  .contact {
    display: flex;
    flex-direction: row;
  }

  .contact_image {
    max-width: 50%;
    overflow: hidden;
    object-fit: cover;
  }

  .contact_form {
    margin-left: 2%;
  }

  .forms_heading p {
    font-size: 22px;
  }
 
}

@media screen and (max-width: 767px) {
  .logo {
    display: flex;
    margin: 0 auto;
  } 

  .navbar {
    text-align: center;
  }

  .menu_link {
    font-size: 10px;
  }

  .hello {
    background-size: cover;
    background-image: url(../img/lady.jpg);
  }

  .hello_text {
    text-align: center;
    justify-content: space-between;
  }
  
  .hello_headings {
    margin-top: 15%;
    font-size: 40px;
  }
  
  .hello_description {
    font-size: 16px;
  }

  .btn_hello {
    margin: 0 4%;
  }
  
  h2 {
    font-size: 30px;
    padding-top: 10%;
  }

  .about_clinic { 
    text-align: center;
  }

  .img_about_clinic {
    height: 60%;
    width: 100%;
    margin-top: 5%;
  }

  .opportunities {
    font-size: 18px;
  }
  
  .medical_opportunities_name::before {
    font-size: 16px;
    padding-right: 10px;
  }

  .medical_opportunities_name {
    font-size: 16px;
  }

  .medical_opportunities_description {
    font-size: 12px;
  }

  .text_about_helping  p {
    font-size: 14px;
  }

  .services {
    padding: 10% 2%;
   
  }
  
  .clinic_services {
    padding: 1.5em;
  }

  .clinic_services_description {
    font-size: 11px;
  }

  .text_about_offers p {
    font-size: 14px;
  }

  .pricing_table {
    padding-bottom: 6%;
  }

  .contact_image {
    width: 100%;
  }

  .contact_form {
    text-align: center;
    padding-bottom: 6%;
  }

  .forms_heading h2 {
    font-size: 35px;
  }

  .forms_heading p {
    font-size: 14px;
  }

}




