* {
    margin: 0;
    padding: 0;
}

form {
    margin: 2%;
}

input {
    padding: 18px;
    width: 100%;
    background-color: #3CBC8D;
    border: none;
    margin: 1% 0;
}

.button {
    background-color: #4CAF50;
    color: #ffffff;
    height: 55px;
    width: 150px;
    border: none;
    margin: 2% 1% 0 0 ;
}

.button:hover {
    background-color: #4CBB2D;
}


