body {
  margin: 0;
  padding: 0;
  background-color: #21232e;
  color: #ffffff; }

.header {
  background-image: url(../img/m-h-night.jpg);
  color: #ffffff;
  height: 95vh;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 40% 0; }
  .header-wrap {
    font-family: "Fresca", sans-serif;
    padding-left: 11%;
    display: flex;
    flex-direction: column; }
  .header_heading {
    font-size: 80px;
    font-weight: bold;
    width: 50%;
    margin: 7% 50% 0% 0%;
    line-height: 1;
    position: relative;
    z-index: 1;
    font-family: 'Source Sans Pro', sans-serif; }
    .header_heading::after {
      content: '';
      width: 338px;
      height: 55px;
      background-color: #ff4e33;
      position: absolute;
      bottom: 1px;
      left: 0;
      z-index: -1; }
  .header_text {
    font-size: 20px;
    white-space: pre-line;
    width: 60%;
    margin: 50px 0 50px 0;
    line-height: 27px;
    font-family: "Fresca", sans-serif; }
  .header_button {
    background: #e3ac00;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: 150px;
    height: 55px;
    cursor: pointer; }
    .header_button.header_button {
      margin-top: 50px; }
    .header_button:hover {
      background-color: #644b00; }
    .header_button:active {
      background-color: #ffd964;
      color: #2d5bd9; }

.login {
  margin-left: 12%;
  color: white;
  font-size: 23px;
  font-family: 'Source Sans Pro', sans-serif; }

.landing-logo {
  display: flex;
  font-family: "Fresca", sans-serif;
  padding-top: 25px; }
  .landing-logo p {
    margin: 0;
    padding-left: 10px;
    font-size: 28px;
    font-weight: bold; }
    .landing-logo p span {
      display: block;
      text-align: center;
      font-size: 13px;
      line-height: 5px; }
  .landing-logo img {
    height: 55px;
    width: 55px; }

.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative; }
  .section_text {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif; }
    .section_text::after {
      content: '';
      width: 232px;
      height: 65px;
      background-color: #ff4e33;
      position: absolute;
      bottom: 11px;
      left: 260px;
      z-index: -1; }
  .section_card {
    text-align: center;
    display: flex;
    position: static;
    width: 55%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #3b3f50;
    color: #c3ccd1;
    font-family: "Fresca", sans-serif; }
    .section_card_right_container {
      width: 60%;
      padding: 20px 100px;
      box-sizing: border-box; }
    .section_card_img {
      width: 40%;
      border-radius: 5px; }
    .section_card_heading {
      color: #fff;
      font-size: 28px;
      font-weight: bolder;
      font-family: 'Source Sans Pro', sans-serif;
      margin-bottom: 20px; }
    .section_card_text {
      font-size: 18px;
      text-align: justify;
      line-height: 1.5;
      margin-bottom: 30px; }
  .section_link {
    color: #c3ccd1;
    font-family: 'Source Sans Pro', sans-serif; }
  .section_banner {
    background: linear-gradient(to right, #dda207, #95314f);
    width: 63%;
    height: 155px;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 5px;
    display: flex;
    margin-bottom: 15px;
    position: relative;
    top: 90px; }
    .section_banner_heading {
      color: #ffffff;
      font-weight: bold;
      font-size: 30px;
      font-family: 'Source Sans Pro', sans-serif;
      margin-left: 30%;
      width: 450px;
      position: relative;
      z-index: 1; }
      .section_banner_heading::after {
        content: '';
        width: 63px;
        height: 47px;
        background-color: #ff4e33;
        position: absolute;
        bottom: 3px;
        left: 120px;
        z-index: -1; }
    .section_banner_text {
      color: #c3ccd1;
      margin-left: 30%; }
    .section_banner_button {
      background: #e3ac00;
      border: none;
      font-size: 16px;
      font-weight: bold;
      color: white;
      width: 150px;
      height: 55px;
      cursor: pointer;
      margin: 55px 0 0 470px; }
      .section_banner_button.header_button {
        margin-top: 50px; }
      .section_banner_button:hover {
        background-color: #644b00; }
      .section_banner_button:active {
        background-color: #ffd964;
        color: #2d5bd9; }

.footer {
  position: relative;
  z-index: -1;
  font-family: "Fresca", sans-serif; }
  .footer-wrap {
    background-color: #3b3f50;
    color: #c3ccd1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 100px 45px 100px; }
  .footer_text {
    width: 380px;
    line-height: 1.5; }
  .footer-cr, .footer_text {
    font-size: 17px; }
